SanctuaryNode-Red release 1.json
[{"id":"5783fbac.125654","type":"tab","label":"MAIN","disabled":false,"info":""},{"id":"9554ed37.a8b48","type":"subflow","name":"16CHRelay_TCP","info":"","category":"","in":[{"x":40,"y":180,"wires":[{"id":"ed8d1f02.9769d"}]}],"out":[{"x":960,"y":200,"wires":[{"id":"14479377.41fabd","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9d92fa87.2101a8","type":"subflow","name":"Hoobs_HTTP","info":"","category":"","in":[{"x":40,"y":160,"wires":[{"id":"ce4a2692.655dc8"}]}],"out":[{"x":880,"y":240,"wires":[{"id":"3b1d6048.03a98","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"691f829.fe1d07c","type":"subflow","name":"Furman","info":"","category":"Systems","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"46e1f9ac.bcb278","type":"subflow","name":"BMDVideohub","info":"","category":"Systems","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"10d59f51.dda301","type":"subflow","name":"16CHRelay","info":"","category":"Systems","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"d848dc23.39c16","type":"subflow","name":"Epson","info":"","category":"Systems","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"1645c242.f3d1ee","type":"subflow","name":"Hoobs","info":"","category":"Systems","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"42fb01be.bdf6b","type":"subflow","name":"Presets","info":"","category":"Systems","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"27601c8a.8f1674","type":"swagger-doc","z":"691f829.fe1d07c","summary":"Get Power Usage","description":"Get Power Usage in Watts by Sequencer","tags":"furman","operationId":"watt","consumes":"","produces":"text/plain","parameters":[{"name":"seqno","in":"path","description":"Sequencer no starting from 0","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"b9444b19.fd3838","type":"swagger-doc","z":"691f829.fe1d07c","summary":"Get Current Usage","description":"Get Current Usage in Amps by Sequencer","tags":"furman","operationId":"current","consumes":"","produces":"text/plain","parameters":[{"name":"seqno","in":"path","description":"Sequencer no starting from 0","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"9ad17015.67b0f","type":"swagger-doc","z":"691f829.fe1d07c","summary":"Get Sequencer Bank Status","description":"Get Bank Status by Sequencer","tags":"furman","operationId":"bankstat","consumes":"","produces":"text/plain","parameters":[{"name":"seqno","in":"path","description":"Sequencer no starting from 0","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"691bdd9e.9c4414","type":"swagger-doc","z":"691f829.fe1d07c","summary":"Set Bank On","description":"Set Bank On by Sequencer and Bank","tags":"furman","operationId":"bankon","consumes":"","produces":"text/plain","parameters":[{"name":"seqno","in":"path","description":"Sequencer no starting from 0","required":true,"type":"number"},{"name":"bank","in":"path","description":"Bank no (1-3)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"d9cb2b44.0f2c98","type":"swagger-doc","z":"691f829.fe1d07c","summary":"Set Bank Off","description":"Set Bank Off by Sequencer and Bank","tags":"furman","operationId":"bankoff","consumes":"","produces":"text/plain","parameters":[{"name":"seqno","in":"path","description":"Sequencer no starting from 0","required":true,"type":"number"},{"name":"bank","in":"path","description":"Bank no (1-3)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"b6a6093a.4d28f8","type":"swagger-doc","z":"691f829.fe1d07c","summary":"Sequence On","description":"Power On All Sequencers","tags":"furman","operationId":"sequenceon","consumes":"","produces":"text/plain","parameters":[],"responses":{},"deprecated":false},{"id":"e105a7a7.936ef8","type":"swagger-doc","z":"691f829.fe1d07c","summary":"Sequence Off","description":"Power Off all sequencers","tags":"furman","operationId":"sequenceoff","consumes":"","produces":"text/plain","parameters":[],"responses":{},"deprecated":false},{"id":"76e332f2.28d13c","type":"swagger-doc","z":"46e1f9ac.bcb278","summary":"Get Video Routing","description":"Get all Video Routing","tags":"videohub","operationId":"status","consumes":"","produces":"text/plain","parameters":[],"responses":{},"deprecated":false},{"id":"6d4b2bf5.404524","type":"swagger-doc","z":"46e1f9ac.bcb278","summary":"Set Video Routing Batch","description":"Set Video Routing in Batch","tags":"videohub","operationId":"setBatch","consumes":"text/plain","produces":"text/plain","parameters":[],"responses":{},"deprecated":false},{"id":"3a56334b.5f79ec","type":"swagger-doc","z":"46e1f9ac.bcb278","summary":"Set Video Routing","description":"Set Video Routing By Source and Destination","tags":"videohub","operationId":"set","consumes":"","produces":"text/plain","parameters":[{"name":"dest","in":"path","description":"Destionation Ports (0-11)","required":true,"type":"number"},{"name":"src","in":"path","description":"Source Ports (0-11)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"a61586cc.c6f098","type":"swagger-doc","z":"10d59f51.dda301","summary":"Get Relay Status","description":"Get 16 CH Relay Status","tags":"relay","operationId":"status","consumes":"","produces":"text/plain","parameters":[],"responses":{},"deprecated":false},{"id":"57aef99b.80e6b8","type":"swagger-doc","z":"10d59f51.dda301","summary":"Set Relay Off","description":"Set All Relay Ports Off","tags":"relay","operationId":"alloff","consumes":"","produces":"text/plain","parameters":[],"responses":{},"deprecated":false},{"id":"a0f4a77b.0c9498","type":"swagger-doc","z":"10d59f51.dda301","summary":"Press Button","description":"Activate Button ","tags":"relay","operationId":"button","consumes":"","produces":"text/plain","parameters":[{"name":"port","in":"path","description":"Button Port (1-5)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"8da6500d.b7543","type":"swagger-doc","z":"10d59f51.dda301","summary":"Screen Stop","description":"Set Screen to Stop by Screen no","tags":"relay","operationId":"screenstop","consumes":"","produces":"text/plain","parameters":[{"name":"screenid","in":"path","description":"Screen number (1-2)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"1fb9900e.66cc3","type":"swagger-doc","z":"10d59f51.dda301","summary":"Screen Up","description":"Set Screen to Up by screen no","tags":"relay","operationId":"screenup","consumes":"","produces":"text/plain","parameters":[{"name":"screenid","in":"path","description":"Screen number (1-2)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"61ca251a.ca311c","type":"swagger-doc","z":"10d59f51.dda301","summary":"Screen Down","description":"Set Screen to Down by screen no","tags":"relay","operationId":"screendown","consumes":"","produces":"text/plain","parameters":[{"name":"screenid","in":"path","description":"Screen number (1-2)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"ab4bf68c.a7e6c8","type":"swagger-doc","z":"10d59f51.dda301","summary":"Blind Stop","description":"Set Blind to Stop by Blind no","tags":"relay","operationId":"blindstop","consumes":"","produces":"text/plain","parameters":[{"name":"blindid","in":"path","description":"Blind number (1-2)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"7d64c30b.f56b2c","type":"swagger-doc","z":"10d59f51.dda301","summary":"Blind Up","description":"Set Blind to Up by Blind no","tags":"relay","operationId":"blindup","consumes":"","produces":"text/plain","parameters":[{"name":"blindid","in":"path","description":"Blind number (1-2)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"d99e697a.29a058","type":"swagger-doc","z":"10d59f51.dda301","summary":"Blind Down","description":"Set Blind to Down by Blind no","tags":"relay","operationId":"blinddown","consumes":"","produces":"text/plain","parameters":[{"name":"blindid","in":"path","description":"Blind number (1-2)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"a01bbaee.bc71b8","type":"swagger-doc","z":"d848dc23.39c16","summary":"Get Power Status","description":"Get Power Status by Projector","tags":"epson","operationId":"power","consumes":"","produces":"text/plain","parameters":[{"name":"proj","in":"path","description":"Projector Number (1-2)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"286f8132.28513e","type":"swagger-doc","z":"d848dc23.39c16","summary":"Projector On","description":"Turn On Projector by Projector","tags":"epson","operationId":"poweron","consumes":"","produces":"text/plain","parameters":[{"name":"proj","in":"path","description":"Projector number (1-2)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"63ebbfbd.c8d03","type":"swagger-doc","z":"d848dc23.39c16","summary":"Projector Off","description":"Turn Off Projector by Projector","tags":"epson","operationId":"poweroff","consumes":"","produces":"text/plain","parameters":[{"name":"proj","in":"path","description":"Projector number (1-2)","required":true,"type":"string"}],"responses":{},"deprecated":false},{"id":"7fefdc68.730844","type":"swagger-doc","z":"d848dc23.39c16","summary":"Get Lamp Hours","description":"Get Lamp Usage Hours by Projector","tags":"epson","operationId":"lamp","consumes":"","produces":"text/plain","parameters":[{"name":"proj","in":"path","description":"Projector number (1-2)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"826f716f.bf18","type":"swagger-doc","z":"d848dc23.39c16","summary":"Get Source","description":"Get Current Projector Source by Projector","tags":"epson","operationId":"getSource","consumes":"","produces":"text/plain","parameters":[{"name":"proj","in":"path","description":"Projector number (1-2)","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"c9f5c5d1.bb0428","type":"swagger-doc","z":"d848dc23.39c16","summary":"Set Source","description":"Set Projector Source by Projector","tags":"epson","operationId":"setSource","consumes":"","produces":"text/plain","parameters":[{"name":"proj","in":"path","description":"Projector number (1-2)","required":true,"type":"number"},{"name":"source","in":"path","description":"Souce Code Hex","required":true,"type":"string"}],"responses":{},"deprecated":false},{"id":"745caaca.316234","type":"swagger-doc","z":"d848dc23.39c16","summary":"Control Projector","description":"Control Projector using Remote Commands by Projector","tags":"epson","operationId":"sendKey","consumes":"","produces":"text/plain","parameters":[{"name":"proj","in":"path","description":"Projector number (1-2)","required":true,"type":"number"},{"name":"key","in":"path","description":"Key Code Hex","required":true,"type":"string"}],"responses":{},"deprecated":false},{"id":"a173b1e8.6f99","type":"swagger-doc","z":"1645c242.f3d1ee","summary":"Set Hoobs Switch","description":"Turn on and off hoobs switches","tags":"hoobs","operationId":"switch","consumes":"","produces":"application/json","parameters":[{"name":"svalue","in":"path","description":"Switch Value (on/off)","required":true,"type":"string"},{"name":"aid","in":"path","description":"Hoobs Device ID","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"3521ad58.d66d52","type":"swagger-doc","z":"1645c242.f3d1ee","summary":"Get Accessories Data","description":"Get Accessories Status JSON","tags":"hoobs","operationId":"status","consumes":"","produces":"application/json","parameters":[],"responses":{},"deprecated":false},{"id":"9e59c538.c902e8","type":"swagger-doc","z":"1645c242.f3d1ee","summary":"Control Accessory","description":"Control Accessory using JSON","tags":"hoobs","operationId":"controlAccessory","consumes":"application/json","produces":"application/json","parameters":[{"name":"aid","in":"path","description":"Hoobs Device ID","required":true,"type":"number"},{"name":"iid","in":"path","description":"Characteristic ID","required":true,"type":"number"}],"responses":{},"deprecated":false},{"id":"5cc52807.b73318","type":"swagger-doc","z":"46e1f9ac.bcb278","summary":"Video Routing Preset","description":"Set Video Routing via Preset","tags":"videohub","operationId":"displayPreset","consumes":"","produces":"text/plain","parameters":[{"name":"preset","in":"path","description":"Preset Name","required":true,"type":"string"}],"responses":{},"deprecated":false},{"id":"3c4ce2e7.75f1fe","type":"swagger-doc","z":"42fb01be.bdf6b","summary":"System ON","description":"System ON","tags":"preset","operationId":"systemon","consumes":"","produces":"text/plain","parameters":[],"responses":{},"deprecated":false},{"id":"f71d7ec.fa0628","type":"swagger-doc","z":"42fb01be.bdf6b","summary":"System OFF","description":"System OFF","tags":"preset","operationId":"systemoff","consumes":"","produces":"text/plain","parameters":[],"responses":{},"deprecated":false},{"id":"5c12d927.36c378","type":"tcp request","z":"691f829.fe1d07c","server":"192.168.10.210","port":"80","out":"char","splitc":"0x04","name":"","x":700,"y":120,"wires":[["b6cfa407.48b388"]]},{"id":"b6cfa407.48b388","type":"function","z":"691f829.fe1d07c","name":"BuffToString","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":260,"wires":[["826d562.c1316a8","241f1d83.b5db62"]]},{"id":"3c3538d2.6b9d88","type":"http in","z":"691f829.fe1d07c","name":"","url":"/furman/bankstat/:seqno","method":"get","upload":false,"swaggerDoc":"9ad17015.67b0f","x":220,"y":160,"wires":[["329494b8.9187fc"]]},{"id":"329494b8.9187fc","type":"template","z":"691f829.fe1d07c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"?BANK_STAT {{req.params.seqno}}\n","output":"str","x":440,"y":160,"wires":[["5c12d927.36c378"]]},{"id":"826d562.c1316a8","type":"http response","z":"691f829.fe1d07c","name":"Response","statusCode":"","headers":{},"x":980,"y":260,"wires":[]},{"id":"241f1d83.b5db62","type":"debug","z":"691f829.fe1d07c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":320,"wires":[]},{"id":"d10947c9.3f6e88","type":"http in","z":"691f829.fe1d07c","name":"","url":"/furman/bankon/:seqno/:bank","method":"get","upload":false,"swaggerDoc":"691bdd9e.9c4414","x":200,"y":360,"wires":[["2bb7571b.4053c8"]]},{"id":"9635869d.971e48","type":"http in","z":"691f829.fe1d07c","name":"","url":"/furman/bankoff/:seqno/:bank","method":"get","upload":false,"swaggerDoc":"d9cb2b44.0f2c98","x":200,"y":400,"wires":[["574d2067.09882"]]},{"id":"b0be54c2.ba99c8","type":"http in","z":"691f829.fe1d07c","name":"","url":"/furman/poweron","method":"get","upload":false,"swaggerDoc":"b6a6093a.4d28f8","x":240,"y":440,"wires":[["62448f69.fa287"]]},{"id":"75bb440.7e2b6bc","type":"http in","z":"691f829.fe1d07c","name":"","url":"/furman/poweroff","method":"get","upload":false,"swaggerDoc":"e105a7a7.936ef8","x":240,"y":480,"wires":[["642a2799.9bf288"]]},{"id":"9bec7021.bdb91","type":"http in","z":"691f829.fe1d07c","name":"","url":"/furman/current/:seqno","method":"get","upload":false,"swaggerDoc":"b9444b19.fd3838","x":220,"y":120,"wires":[["6da9bfd2.d872c"]]},{"id":"169770c9.917a0f","type":"http in","z":"691f829.fe1d07c","name":"","url":"/furman/power/:seqno","method":"get","upload":false,"swaggerDoc":"27601c8a.8f1674","x":220,"y":80,"wires":[["ea62befb.3c88"]]},{"id":"ea62befb.3c88","type":"template","z":"691f829.fe1d07c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"?POWER {{req.params.seqno}}\n","output":"str","x":440,"y":80,"wires":[["5c12d927.36c378"]]},{"id":"6da9bfd2.d872c","type":"template","z":"691f829.fe1d07c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"?POWER {{req.params.seqno}}\n","output":"str","x":440,"y":120,"wires":[["5c12d927.36c378"]]},{"id":"2bb7571b.4053c8","type":"template","z":"691f829.fe1d07c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"!BANK_ON {{req.params.seqno}} {{req.params.bank}}\n","output":"str","x":440,"y":360,"wires":[["91ad51a8.b72d1"]]},{"id":"574d2067.09882","type":"template","z":"691f829.fe1d07c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"!BANK_OFF {{req.params.seqno}} {{req.params.bank}}\n","output":"str","x":440,"y":400,"wires":[["91ad51a8.b72d1"]]},{"id":"62448f69.fa287","type":"template","z":"691f829.fe1d07c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"!SEQ_ON\n","output":"str","x":440,"y":440,"wires":[["91ad51a8.b72d1"]]},{"id":"91ad51a8.b72d1","type":"tcp request","z":"691f829.fe1d07c","server":"192.168.10.210","port":"80","out":"char","splitc":"\\n","name":"","x":700,"y":420,"wires":[["b6cfa407.48b388"]]},{"id":"642a2799.9bf288","type":"template","z":"691f829.fe1d07c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"!SEQ_OFF\n","output":"str","x":440,"y":480,"wires":[["91ad51a8.b72d1"]]},{"id":"1ff3b55d.efaeeb","type":"tcp request","z":"46e1f9ac.bcb278","server":"192.168.10.242","port":"9990","out":"sit","splitc":" ","name":"","x":870,"y":240,"wires":[["8dd88399.d71fb"]]},{"id":"23ea723e.d832fe","type":"debug","z":"46e1f9ac.bcb278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":400,"wires":[]},{"id":"8dd88399.d71fb","type":"function","z":"46e1f9ac.bcb278","name":"BufToString","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1010,"y":320,"wires":[["84b5c6.d8be0a38"]]},{"id":"84b5c6.d8be0a38","type":"switch","z":"46e1f9ac.bcb278","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"VIDEO OUTPUT ROUTING:","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":400,"wires":[["23ea723e.d832fe","63082627.eeaf28"],["f7fc3e21.e4892"]]},{"id":"922cdb2c.1a0a38","type":"http in","z":"46e1f9ac.bcb278","name":"","url":"/videohub","method":"get","upload":false,"swaggerDoc":"76e332f2.28d13c","x":420,"y":80,"wires":[["196fe0de.fe455f"]]},{"id":"196fe0de.fe455f","type":"template","z":"46e1f9ac.bcb278","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"VIDEO OUTPUT ROUTING:\n\n","output":"str","x":580,"y":80,"wires":[["1ff3b55d.efaeeb"]]},{"id":"63082627.eeaf28","type":"http response","z":"46e1f9ac.bcb278","name":"Response","statusCode":"","headers":{},"x":1240,"y":360,"wires":[]},{"id":"36e9349.38bf2cc","type":"http in","z":"46e1f9ac.bcb278","name":"","url":"/videohub/:dest/:src","method":"get","upload":false,"swaggerDoc":"3a56334b.5f79ec","x":390,"y":160,"wires":[["e0fb6b2.0fc9498"]]},{"id":"e0fb6b2.0fc9498","type":"template","z":"46e1f9ac.bcb278","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"VIDEO OUTPUT ROUTING:\n{{req.params.dest}} {{req.params.src}}\n\n","output":"str","x":580,"y":160,"wires":[["1ff3b55d.efaeeb"]]},{"id":"3a59a2e6.eb6f5e","type":"tcp request","z":"9554ed37.a8b48","server":"192.168.10.212","port":"8899","out":"sit","splitc":" ","name":"","x":450,"y":180,"wires":[["bba9762d.8e1dd8"]]},{"id":"bba9762d.8e1dd8","type":"switch","z":"9554ed37.a8b48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"NO","vt":"str"},{"t":"eq","v":"OK","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":640,"y":180,"wires":[["18249d2c.c29103"],[],["14479377.41fabd","104ca0fe.8de71f"]]},{"id":"18249d2c.c29103","type":"trigger","z":"9554ed37.a8b48","name":"","op1":"[97,118,49,50,51,13,10]","op2":"LastCommand","op1type":"bin","op2type":"flow","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":480,"y":80,"wires":[["3a59a2e6.eb6f5e"]]},{"id":"ed8d1f02.9769d","type":"change","z":"9554ed37.a8b48","name":"Set LastCommand","rules":[{"t":"set","p":"LastCommand","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":180,"wires":[["3a59a2e6.eb6f5e","104ca0fe.8de71f"]]},{"id":"8508c326.db3bf","type":"subflow:9554ed37.a8b48","z":"10d59f51.dda301","name":"","env":[],"x":1510,"y":400,"wires":[["cc3517c9.9d80a8","1fef6bfe.b52804"]]},{"id":"14479377.41fabd","type":"function","z":"9554ed37.a8b48","name":"BufToArrString","func":"var s = msg.payload;\n\nmsg.payload = \"[\";\nfor (var i=0; i<s.length; i++) {\n    msg.payload += s[i].toString();\n    if (i!=s.length-1) {\n        msg.payload += \",\";\n    }\n}\nmsg.payload += \"]\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":200,"wires":[[]]},{"id":"a202b968.c0a1d8","type":"http in","z":"10d59f51.dda301","name":"","url":"/relay","method":"get","upload":false,"swaggerDoc":"a61586cc.c6f098","x":840,"y":80,"wires":[["54e0b20d.e9096c"]]},{"id":"54e0b20d.e9096c","type":"change","z":"10d59f51.dda301","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[85,170,0,2,0,10,0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":80,"wires":[["8508c326.db3bf"]]},{"id":"1fef6bfe.b52804","type":"http response","z":"10d59f51.dda301","name":"","statusCode":"","headers":{},"x":1710,"y":460,"wires":[]},{"id":"d4886783.5a50b8","type":"template","z":"10d59f51.dda301","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[85,170,0,3,0,2,{{req.params.port}},0]","output":"str","x":960,"y":240,"wires":[["40756f1c.0861a"]]},{"id":"c08c063d.fc4ce8","type":"template","z":"10d59f51.dda301","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[85,170,0,3,0,1,{{req.params.port}},0]","output":"str","x":960,"y":280,"wires":[["40756f1c.0861a"]]},{"id":"be2c1ab3.e16088","type":"http in","z":"10d59f51.dda301","name":"","url":"/relay/button/:port","method":"get","upload":false,"swaggerDoc":"a0f4a77b.0c9498","x":200,"y":260,"wires":[["e02e8a68.bcc548"]]},{"id":"d6957043.81cb7","type":"http in","z":"42fb01be.bdf6b","name":"","url":"/preset/poweron","method":"get","upload":false,"swaggerDoc":"3c4ce2e7.75f1fe","x":280,"y":80,"wires":[["84d2a4ab.6b8f88"]]},{"id":"29ed0b65.fb2824","type":"http request","z":"9d92fa87.2101a8","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":160,"wires":[["faf9abfe.956e68","73996757.2348d8"]]},{"id":"faf9abfe.956e68","type":"switch","z":"9d92fa87.2101a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"{\"error\":\"unauthorized\"}","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":160,"wires":[["49cc54d2.57c67c"],["3b1d6048.03a98"]]},{"id":"49cc54d2.57c67c","type":"change","z":"9d92fa87.2101a8","name":"Hoobs Auth","rules":[{"t":"set","p":"method","pt":"msg","to":"POST","tot":"str"},{"t":"set","p":"url","pt":"msg","to":"localhost:9080/api/auth","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"{\"username\":\"adminibc\",\"password\":\"admin266358\",\"remember\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":80,"wires":[["29ed0b65.fb2824"]]},{"id":"3b1d6048.03a98","type":"switch","z":"9d92fa87.2101a8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"{\"token\":","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":180,"wires":[["c082e783.d4f728"],[]]},{"id":"c082e783.d4f728","type":"json","z":"9d92fa87.2101a8","name":"","property":"payload","action":"","pretty":false,"x":850,"y":160,"wires":[["89aa263.1f1e0d8"]]},{"id":"89aa263.1f1e0d8","type":"change","z":"9d92fa87.2101a8","name":"","rules":[{"t":"set","p":"headers.authorization","pt":"flow","to":"payload.token","tot":"msg"},{"t":"set","p":"headers.authorization","pt":"msg","to":"payload.token","tot":"msg"},{"t":"set","p":"method","pt":"msg","to":"LastMethod","tot":"flow"},{"t":"set","p":"url","pt":"msg","to":"LastURL","tot":"flow"},{"t":"set","p":"payload","pt":"msg","to":"LastPayLoad","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":80,"wires":[["29ed0b65.fb2824"]]},{"id":"ee42f5ee.68e068","type":"http in","z":"1645c242.f3d1ee","name":"","url":"/hoobs/accessories/list","method":"get","upload":false,"swaggerDoc":"3521ad58.d66d52","x":460,"y":340,"wires":[["d8c6645d.332728"]]},{"id":"ce4a2692.655dc8","type":"change","z":"9d92fa87.2101a8","name":"","rules":[{"t":"set","p":"method","pt":"msg","to":"method","tot":"msg"},{"t":"set","p":"url","pt":"msg","to":"url","tot":"msg"},{"t":"set","p":"headers","pt":"msg","to":"headers","tot":"flow"},{"t":"set","p":"LastMethod","pt":"flow","to":"method","tot":"msg"},{"t":"set","p":"LastURL","pt":"flow","to":"url","tot":"msg"},{"t":"set","p":"LastPayLoad","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":160,"wires":[["29ed0b65.fb2824","73996757.2348d8"]]},{"id":"d8c6645d.332728","type":"function","z":"1645c242.f3d1ee","name":"","func":"\nmsg.method = msg.req.method;\nmsg.url = \"http://localhost:9080/api/\"+msg.req.url.substr(7);\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":360,"wires":[["1984c0d9.e3ba2f","17517ddf.c19642"]]},{"id":"18eb999f.2e5246","type":"http response","z":"1645c242.f3d1ee","name":"","statusCode":"","headers":{},"x":1070,"y":360,"wires":[]},{"id":"1984c0d9.e3ba2f","type":"subflow:9d92fa87.2101a8","z":"1645c242.f3d1ee","x":900,"y":360,"wires":[["18eb999f.2e5246"]]},{"id":"1d7c1b25.be2795","type":"http in","z":"1645c242.f3d1ee","name":"","url":"/hoobs/accessory/:aid/:iid","method":"put","upload":false,"swaggerDoc":"9e59c538.c902e8","x":450,"y":380,"wires":[["d8c6645d.332728"]]},{"id":"40756f1c.0861a","type":"function","z":"10d59f51.dda301","name":"StringToBuf","func":"msg.payload = Buffer.from(JSON.parse(msg.payload))\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":260,"wires":[["8508c326.db3bf"]]},{"id":"104ca0fe.8de71f","type":"debug","z":"9554ed37.a8b48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":810,"y":280,"wires":[]},{"id":"18879051.35425","type":"trigger","z":"10d59f51.dda301","name":"","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":780,"y":260,"wires":[["d4886783.5a50b8"],["c08c063d.fc4ce8"]]},{"id":"2b16c9a7.763fb6","type":"http in","z":"d848dc23.39c16","name":"","url":"/epson/power/:proj","method":"get","upload":false,"swaggerDoc":"a01bbaee.bc71b8","x":220,"y":80,"wires":[["82a32f04.2a0ea"]]},{"id":"e207e4b2.e7d5a8","type":"http in","z":"d848dc23.39c16","name":"","url":"/epson/poweron/:proj","method":"get","upload":false,"swaggerDoc":"286f8132.28513e","x":200,"y":120,"wires":[["5155d181.483b2"]]},{"id":"4219647c.580aec","type":"http in","z":"d848dc23.39c16","name":"","url":"/epson/poweroff/:proj","method":"get","upload":false,"swaggerDoc":"63ebbfbd.c8d03","x":210,"y":160,"wires":[["eeb56722.0fd388"]]},{"id":"d90e2657.2b0278","type":"http in","z":"d848dc23.39c16","name":"","url":"/epson/lamp/:proj","method":"get","upload":false,"swaggerDoc":"7fefdc68.730844","x":220,"y":220,"wires":[["f80b5879.ffc1d8"]]},{"id":"cf57bd02.8021c","type":"http in","z":"d848dc23.39c16","name":"","url":"/epson/source/:proj","method":"get","upload":false,"swaggerDoc":"826f716f.bf18","x":220,"y":280,"wires":[["3590576d.e87c38"]]},{"id":"b1d7da8e.531b08","type":"http in","z":"d848dc23.39c16","name":"","url":"/epson/source/:proj/:source","method":"get","upload":false,"swaggerDoc":"c9f5c5d1.bb0428","x":190,"y":320,"wires":[["8f9e0f33.6f16a"]]},{"id":"45b4b9b9.ca1b98","type":"http in","z":"d848dc23.39c16","name":"","url":"/epson/control/:proj/:key","method":"get","upload":false,"swaggerDoc":"745caaca.316234","x":200,"y":380,"wires":[["6ab4ef0.0166d1"]]},{"id":"1265594a.1889d7","type":"http in","z":"10d59f51.dda301","name":"","url":"/relay/alloff","method":"get","upload":false,"swaggerDoc":"57aef99b.80e6b8","x":820,"y":120,"wires":[["dcb49371.e85bb"]]},{"id":"dcb49371.e85bb","type":"change","z":"10d59f51.dda301","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[85,170,0,2,0,4,0]","tot":"bin"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":120,"wires":[["8508c326.db3bf"]]},{"id":"cc3517c9.9d80a8","type":"debug","z":"10d59f51.dda301","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1710,"y":400,"wires":[]},{"id":"13f71cb0.e2bc23","type":"http in","z":"10d59f51.dda301","name":"","url":"/relay/screen/stop/:screenid","method":"get","upload":false,"swaggerDoc":"8da6500d.b7543","x":350,"y":500,"wires":[["dd3d44df.de0bf8"]]},{"id":"d165c473.1594f8","type":"http in","z":"10d59f51.dda301","name":"","url":"/relay/screen/up/:screenid","method":"get","upload":false,"swaggerDoc":"1fb9900e.66cc3","x":350,"y":560,"wires":[["8357159.6fea3e8"]]},{"id":"c32ec998.4ba5f8","type":"trigger","z":"10d59f51.dda301","name":"Set 1","op1":"[85,170,0,3,0,2,1,0]","op2":"[85,170,0,3,0,1,1,0]","op1type":"bin","op2type":"bin","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":990,"y":480,"wires":[["8508c326.db3bf"]]},{"id":"537b278d.4ffa68","type":"http in","z":"10d59f51.dda301","name":"","url":"/relay/screen/down/:screenid","method":"get","upload":false,"swaggerDoc":"61ca251a.ca311c","x":340,"y":620,"wires":[["38826af2.437596"]]},{"id":"cf45befb.1fe7a","type":"trigger","z":"10d59f51.dda301","name":"Set 2","op1":"[85,170,0,3,0,2,2,0]","op2":"[85,170,0,3,0,1,2,0]","op1type":"bin","op2type":"bin","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":990,"y":520,"wires":[["8508c326.db3bf"]]},{"id":"91ce1a3.064eae8","type":"trigger","z":"10d59f51.dda301","name":"Set 3","op1":"[85,170,0,3,0,2,3,0]","op2":"[85,170,0,3,0,1,3,0]","op1type":"bin","op2type":"bin","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":990,"y":600,"wires":[["8508c326.db3bf"]]},{"id":"39cb382c.402bf8","type":"trigger","z":"10d59f51.dda301","name":"Set 4","op1":"[85,170,0,3,0,2,4,0]","op2":"[85,170,0,3,0,1,4,0]","op1type":"bin","op2type":"bin","duration":"5","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":990,"y":640,"wires":[["8508c326.db3bf"]]},{"id":"6b123273.2ac19c","type":"http in","z":"10d59f51.dda301","name":"","url":"/relay/blind/stop/:blindid","method":"get","upload":false,"swaggerDoc":"ab4bf68c.a7e6c8","x":480,"y":800,"wires":[["6f16005f.d2ae8"]]},{"id":"6aa7fa75.4cd4d4","type":"trigger","z":"10d59f51.dda301","name":"Set 5 & 6","op1":"[85,170,0,3,0,2,5,0]","op2":"[85,170,0,3,0,2,6,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":900,"y":760,"wires":[["8508c326.db3bf"],["8508c326.db3bf","67cbbe5e.5b177"]]},{"id":"18494cea.3b31f3","type":"trigger","z":"10d59f51.dda301","name":"Set 5","op1":"[85,170,0,3,0,2,5,0]","op2":"[85,170,0,3,0,1,5,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":890,"y":800,"wires":[["8508c326.db3bf"],["8508c326.db3bf","92a082b7.2615a"]]},{"id":"ee36459b.5767d8","type":"http in","z":"10d59f51.dda301","name":"","url":"/relay/blind/up/:blindid","method":"get","upload":false,"swaggerDoc":"7d64c30b.f56b2c","x":480,"y":860,"wires":[["61b531d7.d7633"]]},{"id":"92a082b7.2615a","type":"delay","z":"10d59f51.dda301","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":800,"wires":[["ed281d54.fa672"]]},{"id":"2e4f5c68.15e5a4","type":"delay","z":"10d59f51.dda301","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":840,"wires":[["f66f42bb.81e73"]]},{"id":"f66f42bb.81e73","type":"trigger","z":"10d59f51.dda301","name":"Set 5","op1":"[85,170,0,3,0,2,5,0]","op2":"[85,170,0,3,0,1,5,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":840,"wires":[["8508c326.db3bf"]]},{"id":"b2098043.43aec","type":"http in","z":"10d59f51.dda301","name":"","url":"/relay/blind/down/:blindid","method":"get","upload":false,"swaggerDoc":"d99e697a.29a058","x":470,"y":920,"wires":[["446b209.7ab8fe"]]},{"id":"a8531996.b98d08","type":"change","z":"10d59f51.dda301","name":"Port 16","rules":[{"t":"set","p":"req.params.port","pt":"msg","to":"16","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":180,"wires":[["18879051.35425"]]},{"id":"c9c3a317.fb4f8","type":"change","z":"10d59f51.dda301","name":"Port 15","rules":[{"t":"set","p":"req.params.port","pt":"msg","to":"15","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[["18879051.35425"]]},{"id":"37b747b5.9d40a8","type":"change","z":"10d59f51.dda301","name":"Port 14","rules":[{"t":"set","p":"req.params.port","pt":"msg","to":"14","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":260,"wires":[["18879051.35425"]]},{"id":"a3c612a5.c02c9","type":"change","z":"10d59f51.dda301","name":"Port 13","rules":[{"t":"set","p":"req.params.port","pt":"msg","to":"13","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":300,"wires":[["18879051.35425"]]},{"id":"b599d909.1e7758","type":"change","z":"10d59f51.dda301","name":"Port 12","rules":[{"t":"set","p":"req.params.port","pt":"msg","to":"12","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":340,"wires":[["18879051.35425"]]},{"id":"496ee524.729cdc","type":"catch","z":"10d59f51.dda301","name":"","scope":["1fef6bfe.b52804"],"uncaught":false,"x":1590,"y":340,"wires":[["5e3afe25.29061"]]},{"id":"5e3afe25.29061","type":"switch","z":"10d59f51.dda301","name":"","property":"error.message","propertyType":"msg","rules":[{"t":"neq","v":"Error [ERR_HTTP_HEADERS_SENT]: Cannot set headers after they are sent to the client","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1720,"y":340,"wires":[["dd68137a.e312b"]]},{"id":"dd68137a.e312b","type":"debug","z":"10d59f51.dda301","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"error","targetType":"msg","statusVal":"","statusType":"auto","x":1860,"y":340,"wires":[]},{"id":"8f9e0f33.6f16a","type":"template","z":"d848dc23.39c16","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SOURCE {{req.params.source}}\n","output":"str","x":420,"y":320,"wires":[["919601bf.a7669"]]},{"id":"6ab4ef0.0166d1","type":"template","z":"d848dc23.39c16","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"KEY {{req.params.key}}\n","output":"str","x":420,"y":380,"wires":[["919601bf.a7669"]]},{"id":"3590576d.e87c38","type":"template","z":"d848dc23.39c16","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SOURCE?\n","output":"str","x":420,"y":280,"wires":[["919601bf.a7669"]]},{"id":"f80b5879.ffc1d8","type":"template","z":"d848dc23.39c16","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"LAMP?\n\n","output":"str","x":420,"y":220,"wires":[["919601bf.a7669"]]},{"id":"eeb56722.0fd388","type":"template","z":"d848dc23.39c16","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PWR OFF\n","output":"str","x":420,"y":160,"wires":[["919601bf.a7669"]]},{"id":"5155d181.483b2","type":"template","z":"d848dc23.39c16","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PWR ON\n","output":"str","x":420,"y":120,"wires":[["919601bf.a7669"]]},{"id":"82a32f04.2a0ea","type":"template","z":"d848dc23.39c16","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"PWR?\n","output":"str","x":420,"y":80,"wires":[["919601bf.a7669"]]},{"id":"ea3fa141.5cb23","type":"switch","z":"d848dc23.39c16","name":"","property":"req.params.proj","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":830,"y":220,"wires":[["d6ce435c.65bf4"],["545140b1.da091"],["e2881756.8cf858"]]},{"id":"d6ce435c.65bf4","type":"change","z":"d848dc23.39c16","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"192.168.10.200","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":200,"wires":[["14e96aca.9b4d05"]]},{"id":"14e96aca.9b4d05","type":"tcp request","z":"d848dc23.39c16","server":"","port":"80","out":"char","splitc":":","name":"","x":1150,"y":220,"wires":[["13422d1c.b7d2a3"]]},{"id":"545140b1.da091","type":"change","z":"d848dc23.39c16","name":"","rules":[{"t":"set","p":"host","pt":"msg","to":"192.168.10.201","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":240,"wires":[["14e96aca.9b4d05"]]},{"id":"82b18cf5.1116a","type":"http response","z":"d848dc23.39c16","name":"","statusCode":"","headers":{},"x":1470,"y":220,"wires":[]},{"id":"555843c8.19e0ac","type":"debug","z":"d848dc23.39c16","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1490,"y":280,"wires":[]},{"id":"919601bf.a7669","type":"function","z":"d848dc23.39c16","name":"StringToBuf","func":"msg.payload = Buffer.from(msg.payload)\nmsg.payload[msg.payload.length-1] = 13;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":220,"wires":[["ea3fa141.5cb23"]]},{"id":"13422d1c.b7d2a3","type":"function","z":"d848dc23.39c16","name":"BufToString","func":"var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1310,"y":220,"wires":[["82b18cf5.1116a","555843c8.19e0ac"]]},{"id":"f857a7de.b9e7b8","type":"trigger","z":"10d59f51.dda301","name":"Clear 1 & 2","op1":"[85,170,0,3,0,1,1,0]","op2":"[85,170,0,3,0,1,2,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":790,"y":440,"wires":[["8508c326.db3bf"]]},{"id":"e5ccd05a.31983","type":"trigger","z":"10d59f51.dda301","name":"Clear 1 & 2","op1":"[85,170,0,3,0,1,1,0]","op2":"[85,170,0,3,0,1,2,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":790,"y":480,"wires":[["8508c326.db3bf"],["8508c326.db3bf","c32ec998.4ba5f8"]]},{"id":"c9c72fff.c9673","type":"trigger","z":"10d59f51.dda301","name":"Clear 1 & 2","op1":"[85,170,0,3,0,1,1,0]","op2":"[85,170,0,3,0,1,2,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":790,"y":520,"wires":[["8508c326.db3bf"],["8508c326.db3bf","cf45befb.1fe7a"]]},{"id":"2b94d33b.06a2ec","type":"trigger","z":"10d59f51.dda301","name":"Clear 3 & 4","op1":"[85,170,0,3,0,1,3,0]","op2":"[85,170,0,3,0,1,4,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":790,"y":560,"wires":[["8508c326.db3bf"]]},{"id":"c5ab2de9.4471e","type":"trigger","z":"10d59f51.dda301","name":"Clear 3 & 4","op1":"[85,170,0,3,0,1,3,0]","op2":"[85,170,0,3,0,1,4,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":790,"y":600,"wires":[["8508c326.db3bf"],["8508c326.db3bf","91ce1a3.064eae8"]]},{"id":"71139b78.da9e24","type":"trigger","z":"10d59f51.dda301","name":"Clear 3 & 4","op1":"[85,170,0,3,0,1,3,0]","op2":"[85,170,0,3,0,1,4,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":790,"y":640,"wires":[["8508c326.db3bf"],["8508c326.db3bf","39cb382c.402bf8"]]},{"id":"67cbbe5e.5b177","type":"trigger","z":"10d59f51.dda301","name":"Clear 5 & 6","op1":"[85,170,0,3,0,1,5,0]","op2":"[85,170,0,3,0,1,6,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1070,"y":760,"wires":[["8508c326.db3bf"]]},{"id":"ed281d54.fa672","type":"trigger","z":"10d59f51.dda301","name":"Set 6","op1":"[85,170,0,3,0,2,6,0]","op2":"[85,170,0,3,0,1,6,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":800,"wires":[["8508c326.db3bf"]]},{"id":"67d33c15.67b9e4","type":"trigger","z":"10d59f51.dda301","name":"Set 6","op1":"[85,170,0,3,0,2,6,0]","op2":"[85,170,0,3,0,1,6,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":890,"y":840,"wires":[["8508c326.db3bf"],["8508c326.db3bf","2e4f5c68.15e5a4"]]},{"id":"eeef5326.0b165","type":"trigger","z":"10d59f51.dda301","name":"Set 7 & 8","op1":"[85,170,0,3,0,2,7,0]","op2":"[85,170,0,3,0,2,8,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":900,"y":880,"wires":[["8508c326.db3bf"],["4387e20f.d1186c","8508c326.db3bf"]]},{"id":"4387e20f.d1186c","type":"trigger","z":"10d59f51.dda301","name":"Clear 7 & 8","op1":"[85,170,0,3,0,1,7,0]","op2":"[85,170,0,3,0,1,8,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1070,"y":880,"wires":[["8508c326.db3bf"]]},{"id":"ec9cec1b.ae611","type":"trigger","z":"10d59f51.dda301","name":"Set 7","op1":"[85,170,0,3,0,2,7,0]","op2":"[85,170,0,3,0,1,7,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":890,"y":920,"wires":[["8508c326.db3bf"],["16e16b6f.842a95","8508c326.db3bf"]]},{"id":"16e16b6f.842a95","type":"delay","z":"10d59f51.dda301","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":920,"wires":[["3fce01e.5eae2fe"]]},{"id":"224b7db1.4ac472","type":"delay","z":"10d59f51.dda301","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":960,"wires":[["8772b75d.573188"]]},{"id":"8772b75d.573188","type":"trigger","z":"10d59f51.dda301","name":"Set 7","op1":"[85,170,0,3,0,2,7,0]","op2":"[85,170,0,3,0,1,7,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":960,"wires":[["8508c326.db3bf"]]},{"id":"3fce01e.5eae2fe","type":"trigger","z":"10d59f51.dda301","name":"Set 8","op1":"[85,170,0,3,0,2,8,0]","op2":"[85,170,0,3,0,1,8,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1210,"y":920,"wires":[["8508c326.db3bf"]]},{"id":"1b1b4f40.0f9921","type":"trigger","z":"10d59f51.dda301","name":"Set 8","op1":"[85,170,0,3,0,2,8,0]","op2":"[85,170,0,3,0,1,8,0]","op1type":"bin","op2type":"bin","duration":"250","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":2,"x":890,"y":960,"wires":[["8508c326.db3bf"],["224b7db1.4ac472","8508c326.db3bf"]]},{"id":"28565d61.616d02","type":"http in","z":"46e1f9ac.bcb278","name":"","url":"/videohub","method":"post","upload":false,"swaggerDoc":"6d4b2bf5.404524","x":420,"y":120,"wires":[["ea7dcb17.3cc438"]]},{"id":"ea7dcb17.3cc438","type":"template","z":"46e1f9ac.bcb278","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"VIDEO OUTPUT ROUTING:\n{{payload}}\n\n","output":"str","x":580,"y":120,"wires":[["1ff3b55d.efaeeb"]]},{"id":"e02e8a68.bcc548","type":"switch","z":"10d59f51.dda301","name":"","property":"req.params.port","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":390,"y":260,"wires":[["a8531996.b98d08"],["c9c3a317.fb4f8"],["37b747b5.9d40a8"],["a3c612a5.c02c9"],["b599d909.1e7758"],["5cea61ac.3aa14"]],"outputLabels":["1","2","3","4","5","else"]},{"id":"5cea61ac.3aa14","type":"change","z":"10d59f51.dda301","name":"Send 404","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":380,"wires":[["1fef6bfe.b52804"]]},{"id":"dd3d44df.de0bf8","type":"switch","z":"10d59f51.dda301","name":"","property":"req.params.screenid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":500,"wires":[["f857a7de.b9e7b8"],["2b94d33b.06a2ec"],["902512ff.46e46"]]},{"id":"8357159.6fea3e8","type":"switch","z":"10d59f51.dda301","name":"","property":"req.params.screenid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":560,"wires":[["e5ccd05a.31983"],["c5ab2de9.4471e"],["902512ff.46e46"]]},{"id":"902512ff.46e46","type":"change","z":"10d59f51.dda301","name":"Send 404","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":680,"wires":[["1fef6bfe.b52804"]]},{"id":"38826af2.437596","type":"switch","z":"10d59f51.dda301","name":"","property":"req.params.screenid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":570,"y":620,"wires":[["c9c72fff.c9673"],["71139b78.da9e24"],["902512ff.46e46"]]},{"id":"2702c8f7.5d51b8","type":"change","z":"10d59f51.dda301","name":"Send 404","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":1000,"wires":[["1fef6bfe.b52804"]]},{"id":"6f16005f.d2ae8","type":"switch","z":"10d59f51.dda301","name":"","property":"req.params.screenid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":800,"wires":[["6aa7fa75.4cd4d4"],["eeef5326.0b165"],["2702c8f7.5d51b8"]]},{"id":"61b531d7.d7633","type":"switch","z":"10d59f51.dda301","name":"","property":"req.params.screenid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":860,"wires":[["18494cea.3b31f3"],["ec9cec1b.ae611"],["2702c8f7.5d51b8"]]},{"id":"446b209.7ab8fe","type":"switch","z":"10d59f51.dda301","name":"","property":"req.params.screenid","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":690,"y":920,"wires":[["67d33c15.67b9e4"],["1b1b4f40.0f9921"],["2702c8f7.5d51b8"]]},{"id":"acca335.d0986d","type":"openApi-red","z":"42fb01be.bdf6b","name":"","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"furman","operation":"sequenceon","operationData":{"name":"Sequence On"},"errorHandling":"","parameters":{},"contentType":"application/json","outputs":1,"x":280,"y":200,"wires":[["a3b94328.a78b9"]]},{"id":"17517ddf.c19642","type":"debug","z":"1645c242.f3d1ee","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":400,"wires":[]},{"id":"c9930c2.84423f","type":"http in","z":"1645c242.f3d1ee","name":"","url":"/hoobs/switch/:svalue/:aid","method":"get","upload":false,"swaggerDoc":"a173b1e8.6f99","x":190,"y":80,"wires":[["bdef31fa.f34de"]]},{"id":"bdef31fa.f34de","type":"switch","z":"1645c242.f3d1ee","name":"","property":"req.params.aid","propertyType":"msg","rules":[{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":270,"y":160,"wires":[["984a3217.7401f"],["984a3217.7401f"],["984a3217.7401f"],["7ad76ae5.05ca04"]]},{"id":"73996757.2348d8","type":"debug","z":"9d92fa87.2101a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":240,"wires":[]},{"id":"984a3217.7401f","type":"template","z":"1645c242.f3d1ee","name":"","field":"url","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://localhost:9080/api/accessory/{{req.params.aid}}/9","output":"str","x":440,"y":160,"wires":[["b6ce155f.977328"]]},{"id":"7ad76ae5.05ca04","type":"change","z":"1645c242.f3d1ee","name":"Send 404","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":280,"wires":[["18eb999f.2e5246"]]},{"id":"b6ce155f.977328","type":"switch","z":"1645c242.f3d1ee","name":"","property":"req.params.svalue","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":470,"y":240,"wires":[["c4e4731f.b2003"],["677d31c.b15d3d"],["7ad76ae5.05ca04"]]},{"id":"c4e4731f.b2003","type":"change","z":"1645c242.f3d1ee","name":"Value:true","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":true}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":200,"wires":[["1984c0d9.e3ba2f"]]},{"id":"677d31c.b15d3d","type":"change","z":"1645c242.f3d1ee","name":"Value:false","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"value\":false}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":240,"wires":[["1984c0d9.e3ba2f"]]},{"id":"d0804889.422b38","type":"subflow:691f829.fe1d07c","z":"5783fbac.125654","name":"","x":150,"y":60,"wires":[]},{"id":"7d68d7fa.36ac08","type":"subflow:46e1f9ac.bcb278","z":"5783fbac.125654","name":"","x":180,"y":120,"wires":[]},{"id":"b4a96a32.ce9de8","type":"subflow:10d59f51.dda301","z":"5783fbac.125654","name":"","x":170,"y":180,"wires":[]},{"id":"de5a653.df27d98","type":"subflow:d848dc23.39c16","z":"5783fbac.125654","name":"","x":150,"y":240,"wires":[]},{"id":"901e91ed.10cd2","type":"subflow:1645c242.f3d1ee","z":"5783fbac.125654","name":"","x":150,"y":300,"wires":[]},{"id":"32a8e69a.5dbaea","type":"subflow:42fb01be.bdf6b","z":"5783fbac.125654","name":"","env":[],"x":390,"y":60,"wires":[]},{"id":"e2881756.8cf858","type":"change","z":"d848dc23.39c16","name":"Send 404","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":280,"wires":[["82b18cf5.1116a"]]},{"id":"c5e75a7f.c913e8","type":"http in","z":"42fb01be.bdf6b","name":"","url":"/preset/poweroff","method":"get","upload":false,"swaggerDoc":"f71d7ec.fa0628","x":800,"y":80,"wires":[["8e88fb6d.030d88"]]},{"id":"8a520958.94f6c8","type":"http in","z":"46e1f9ac.bcb278","name":"","url":"/videohub/display/:preset","method":"get","upload":false,"swaggerDoc":"5cc52807.b73318","x":200,"y":340,"wires":[["cdfae92c.4987c8"]]},{"id":"cdfae92c.4987c8","type":"switch","z":"46e1f9ac.bcb278","name":"","property":"req.params.preset","propertyType":"msg","rules":[{"t":"eq","v":"worship","vt":"str"},{"t":"eq","v":"baptism","vt":"str"},{"t":"eq","v":"camproj","vt":"str"},{"t":"eq","v":"camstage","vt":"str"},{"t":"eq","v":"pc1proj","vt":"str"},{"t":"eq","v":"pc1stage","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":390,"y":340,"wires":[["17f5f483.d56f5b"],["ebc022ce.7ced1"],["15dee0d8.f25acf"],["23eb007.fa6dd"],["d7ee9756.cfaac8"],["32ea5986.5fae66"],["9020ed1.4c6c51"]]},{"id":"17f5f483.d56f5b","type":"template","z":"46e1f9ac.bcb278","name":"worship","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"VIDEO OUTPUT ROUTING:\n0 0\n1 0\n2 0\n3 0\n4 2\n5 0\n6 2\n7 2\n\n","output":"str","x":580,"y":220,"wires":[["1ff3b55d.efaeeb"]]},{"id":"ebc022ce.7ced1","type":"template","z":"46e1f9ac.bcb278","name":"baptism","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"VIDEO OUTPUT ROUTING:\n0 2\n1 2\n2 0\n3 0\n4 2\n5 2\n6 2\n7 2\n\n","output":"str","x":580,"y":260,"wires":[["1ff3b55d.efaeeb"]]},{"id":"15dee0d8.f25acf","type":"template","z":"46e1f9ac.bcb278","name":"camproj","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"VIDEO OUTPUT ROUTING:\n0 2\n1 2\n\n","output":"str","x":580,"y":300,"wires":[["1ff3b55d.efaeeb"]]},{"id":"23eb007.fa6dd","type":"template","z":"46e1f9ac.bcb278","name":"camstage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"VIDEO OUTPUT ROUTING:\n2 2\n3 2\n\n","output":"str","x":580,"y":340,"wires":[["1ff3b55d.efaeeb"]]},{"id":"d7ee9756.cfaac8","type":"template","z":"46e1f9ac.bcb278","name":"pc1proj","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"VIDEO OUTPUT ROUTING:\n0 0\n1 0\n\n","output":"str","x":580,"y":380,"wires":[["1ff3b55d.efaeeb"]]},{"id":"32ea5986.5fae66","type":"template","z":"46e1f9ac.bcb278","name":"pc1stage","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"VIDEO OUTPUT ROUTING:\n2 0\n3 0\n\n","output":"str","x":580,"y":420,"wires":[["1ff3b55d.efaeeb"]]},{"id":"9020ed1.4c6c51","type":"change","z":"46e1f9ac.bcb278","name":"Send 404","rules":[{"t":"set","p":"statusCode","pt":"msg","to":"404","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":460,"wires":[["63082627.eeaf28"]]},{"id":"f7fc3e21.e4892","type":"debug","z":"46e1f9ac.bcb278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1250,"y":460,"wires":[]},{"id":"84d2a4ab.6b8f88","type":"openApi-red","z":"42fb01be.bdf6b","name":"Stage Left","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"hoobs","operation":"switch","operationData":{"name":"Set Hoobs Switch"},"errorHandling":"","parameters":{"path svalue":{"name":"svalue","in":"path","required":true,"value":"on","isActive":true,"inputType":"str"},"path aid":{"name":"aid","in":"path","required":true,"value":"3","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":190,"y":140,"wires":[["555ee67b.9a8f88"]]},{"id":"555ee67b.9a8f88","type":"openApi-red","z":"42fb01be.bdf6b","name":"Stage Right","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"hoobs","operation":"switch","operationData":{"name":"Set Hoobs Switch"},"errorHandling":"","parameters":{"path svalue":{"name":"svalue","in":"path","required":true,"value":"on","isActive":true,"inputType":"str"},"path aid":{"name":"aid","in":"path","required":true,"value":"4","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":370,"y":140,"wires":[["acca335.d0986d"]]},{"id":"a3b94328.a78b9","type":"delay","z":"42fb01be.bdf6b","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":260,"wires":[["8388194b.f25f68"]]},{"id":"8388194b.f25f68","type":"openApi-red","z":"42fb01be.bdf6b","name":"Screen Down Left","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"relay","operation":"screendown","operationData":{"name":"Screen Down"},"errorHandling":"","parameters":{"path screenid":{"name":"screenid","in":"path","required":true,"value":"1","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":170,"y":320,"wires":[["85504897.8327b8"]]},{"id":"85504897.8327b8","type":"openApi-red","z":"42fb01be.bdf6b","name":"Screen Down Right","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"relay","operation":"screendown","operationData":{"name":"Screen Down"},"errorHandling":"","parameters":{"path screenid":{"name":"screenid","in":"path","required":true,"value":"2","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":390,"y":320,"wires":[["7cd6c893.dc17d8"]]},{"id":"7cd6c893.dc17d8","type":"delay","z":"42fb01be.bdf6b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":380,"wires":[["20cef6fa.23aa1a"]]},{"id":"20cef6fa.23aa1a","type":"openApi-red","z":"42fb01be.bdf6b","name":"Projector Left","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"epson","operation":"poweron2","operationData":{"name":"Projector On"},"errorHandling":"","parameters":{"path proj":{"name":"proj","in":"path","required":true,"value":"1","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":180,"y":440,"wires":[["38270174.93700e"]]},{"id":"38270174.93700e","type":"openApi-red","z":"42fb01be.bdf6b","name":"Projector Right","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"epson","operation":"poweron2","operationData":{"name":"Projector On"},"errorHandling":"","parameters":{"path proj":{"name":"proj","in":"path","required":true,"value":"2","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":380,"y":440,"wires":[["dfb0ad6f.58465"]]},{"id":"dfb0ad6f.58465","type":"delay","z":"42fb01be.bdf6b","name":"","pauseType":"delay","timeout":"60","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":500,"wires":[["1407e70d.d60649"]]},{"id":"1407e70d.d60649","type":"openApi-red","z":"42fb01be.bdf6b","name":"Worship Display Routing","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"videohub","operation":"displayPreset","operationData":{"name":"Video Routing Preset"},"errorHandling":"","parameters":{"path preset":{"name":"preset","in":"path","required":true,"value":"worship","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":290,"y":560,"wires":[["e1c807e5.5f6e58"]]},{"id":"e1c807e5.5f6e58","type":"openApi-red","z":"42fb01be.bdf6b","name":"Piano Mons","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"hoobs","operation":"switch","operationData":{"name":"Set Hoobs Switch"},"errorHandling":"","parameters":{"path svalue":{"name":"svalue","in":"path","required":true,"value":"on","isActive":true,"inputType":"str"},"path aid":{"name":"aid","in":"path","required":true,"value":"2","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":290,"y":620,"wires":[[]]},{"id":"8e88fb6d.030d88","type":"openApi-red","z":"42fb01be.bdf6b","name":"Piano Mons","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"hoobs","operation":"switch","operationData":{"name":"Set Hoobs Switch"},"errorHandling":"","parameters":{"path svalue":{"name":"svalue","in":"path","required":true,"value":"off","isActive":true,"inputType":"str"},"path aid":{"name":"aid","in":"path","required":true,"value":"2","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":810,"y":140,"wires":[["1d738bd6.f72da4"]]},{"id":"1d738bd6.f72da4","type":"openApi-red","z":"42fb01be.bdf6b","name":"","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"furman","operation":"sequenceoff","operationData":{"name":"Sequence Off"},"errorHandling":"","parameters":{},"contentType":"application/json","outputs":1,"x":820,"y":200,"wires":[["46566dde.10c1e4"]]},{"id":"46566dde.10c1e4","type":"openApi-red","z":"42fb01be.bdf6b","name":"Projector Left","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"epson","operation":"poweroff2","operationData":{"name":"Projector Off"},"errorHandling":"","parameters":{"path proj":{"name":"proj","in":"path","required":true,"value":"1","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":820,"y":260,"wires":[["55054610.417708"]]},{"id":"55054610.417708","type":"openApi-red","z":"42fb01be.bdf6b","name":"Projector Right","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"epson","operation":"poweroff2","operationData":{"name":"Projector Off"},"errorHandling":"","parameters":{"path proj":{"name":"proj","in":"path","required":true,"value":"2","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":820,"y":320,"wires":[["a4157693.7ab418"]]},{"id":"a4157693.7ab418","type":"openApi-red","z":"42fb01be.bdf6b","name":"Screen Up Left","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"relay","operation":"screenup","operationData":{"name":"Screen Up"},"errorHandling":"","parameters":{"path screenid":{"name":"screenid","in":"path","required":true,"value":"1","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":820,"y":380,"wires":[["686bc2d.7973e3c"]]},{"id":"686bc2d.7973e3c","type":"openApi-red","z":"42fb01be.bdf6b","name":"Screen Up Right","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"relay","operation":"screenup","operationData":{"name":"Screen Up"},"errorHandling":"","parameters":{"path screenid":{"name":"screenid","in":"path","required":true,"value":"2","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":820,"y":440,"wires":[["b98a66c6.fc2238"]]},{"id":"b98a66c6.fc2238","type":"delay","z":"42fb01be.bdf6b","name":"","pauseType":"delay","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":800,"y":500,"wires":[["e221f0e8.f75ab"]]},{"id":"e221f0e8.f75ab","type":"openApi-red","z":"42fb01be.bdf6b","name":"Stage Left","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"hoobs","operation":"switch","operationData":{"name":"Set Hoobs Switch"},"errorHandling":"","parameters":{"path svalue":{"name":"svalue","in":"path","required":true,"value":"off","isActive":true,"inputType":"str"},"path aid":{"name":"aid","in":"path","required":true,"value":"3","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":810,"y":560,"wires":[["6d78de1e.d98da"]]},{"id":"6d78de1e.d98da","type":"openApi-red","z":"42fb01be.bdf6b","name":"Stage Right","openApiUrl":"http://localhost:1880/http-api/swagger.json","api":"hoobs","operation":"switch","operationData":{"name":"Set Hoobs Switch"},"errorHandling":"","parameters":{"path svalue":{"name":"svalue","in":"path","required":true,"value":"off","isActive":true,"inputType":"str"},"path aid":{"name":"aid","in":"path","required":true,"value":"4","isActive":true,"inputType":"str"}},"contentType":"application/json","outputs":1,"x":810,"y":620,"wires":[[]]},{"id":"3608c91.9788836","type":"http in","z":"5783fbac.125654","name":"","url":"/index.html","method":"get","upload":false,"swaggerDoc":"","x":420,"y":120,"wires":[["3d1c2f0f.ee0bc"]]},{"id":"3d1c2f0f.ee0bc","type":"file in","z":"5783fbac.125654","name":"","filename":"/home/adminibcs/Desktop/SanctuaryHub/index.html","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":740,"y":120,"wires":[["d57f2a0f.712b28"]]},{"id":"d57f2a0f.712b28","type":"http response","z":"5783fbac.125654","name":"","statusCode":"","headers":{},"x":1030,"y":120,"wires":[]},{"id":"81f018be.9e00d8","type":"http in","z":"5783fbac.125654","name":"","url":"/js/*","method":"get","upload":false,"swaggerDoc":"","x":440,"y":160,"wires":[["61193579.91f77c"]]},{"id":"61193579.91f77c","type":"static","z":"5783fbac.125654","name":"/home/adminibcs/Desktop/SanctuaryHub/js","folder":"/home/adminibcs/Desktop/SanctuaryHub/js","x":710,"y":160,"wires":[["d6e64d9.4dbadb"]]},{"id":"d6e64d9.4dbadb","type":"http response","z":"5783fbac.125654","name":"","statusCode":"","headers":{},"x":970,"y":160,"wires":[]},{"id":"5ae1f068.c865b","type":"http in","z":"5783fbac.125654","name":"","url":"/css/*","method":"get","upload":false,"swaggerDoc":"","x":440,"y":200,"wires":[["a39ee986.d565f8"]]},{"id":"a39ee986.d565f8","type":"static","z":"5783fbac.125654","name":"/home/adminibcs/Desktop/SanctuaryHub/css","folder":"/home/adminibcs/Desktop/SanctuaryHub/css","x":720,"y":200,"wires":[["306068d0.9af6a8"]]},{"id":"306068d0.9af6a8","type":"http response","z":"5783fbac.125654","name":"","statusCode":"","headers":{},"x":990,"y":200,"wires":[]}]